flask
flask-cors
requests
pymongo
python-dotenv
gunicorn
numpy>=1.23.5,<2.0.0
pillow
opencv-python-headless
huggingface-hub
tensorflow-cpu==2.15.0
huggingface-hub>=0.25.0
python_requires = >=3.11,<3.12
