flask>=3.1.0
flask-cors>=5.0.0
pymongo>=4.10.1
pydantic>=2.10.6
python-dotenv>=1.0.0

# Python 3.11 compatible versions
numpy==1.26.4
opencv-python-headless==4.9.0.80
pillow>=10.2.0,<12.0.0


gunicorn>=23.0.0
flasgger>=0.9.7.1
pyjwt>=2.12.1
bcrypt>=4.1.2
flask-sock>=0.7.0
gevent>=24.2.1

huggingface-hub>=0.25.0
